[submodule "themes/vortisil"]
	path = themes/vortisil
	url = https://github.com/khitezza/vortisil.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
